* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Loginpage {
  padding: 120px 0;
  //   background: rgb(222, 182, 236);
  //   background: linear-gradient(
  //     90deg,
  //     rgba(222, 182, 236, 1) 0%,
  //     rgba(245, 223, 252, 1) 70%,
  //     rgba(228, 191, 241, 1) 100%
  //   );
  height: 100vh;
  .box {
    display: flex;
    width: 900px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    .box-left {
      width: 50%;
      background-color: white;
      gap: 30px;

      display: flex;
      flex-direction: column;
      padding: 100px 100px;
      h1 {
        color: #8052cc;
      }
      form {
        .inputs {
          display: flex;
          flex-direction: column;
          padding-bottom: 20px;
          gap: 29px;

          .input {
            display: flex;
            flex-direction: column;
            gap: 6px;
            label {
              color: gray;
            }
            input {
              // width: 300px;
              border: 1px solid rgba(202, 202, 202, 0.774);
              height: 29px;
              outline: none;
              padding-left: 10px;

              font-size: 16px;
              font-weight: lighter;
              border-radius: 5px;
            }
          }
        }
      }
      .button {
        display: flex;
        justify-content: center;
        button {
          width: 170px;
          padding: 10px 20px;
          cursor: pointer;
          border: none;
          border-radius: 10px;
          font-size: 18px;
          background-color: #e36dd3;
          color: white;
        }
      }
      .register-info {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    .box-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 100px 50px;
      background: rgb(107,88,204);
      background: linear-gradient(90deg, rgba(107,88,204,1) 0%, rgba(199,60,127,1) 29%, rgba(131,82,204,1) 82%);
      h1 {
        max-width: 120px;
        color: white;
      }
    }
  }
}
