.postsPage {
  .container {
    display: flex;
    flex-direction: column;
    gap: 100px 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 1400px;
    margin: 0 auto;
    .text {
      gap: 100px 0;

      p {
        font-weight: bold;
        font-size: 30px;
      }
    }
    .posts {
      display: flex;
      flex-direction: column;
      gap: 60px;
      align-items: center;
    }
  }
}
